<form action="/Users" method="post">
    <fieldset class="text-center">
        <legend><b>Sign Up</b></legend>
            <div>
            <label>Username <input type="text" name="userName" /></label>
            </div>
            <div>
            <label>Email <input type="text" name="eMail" /></label>
            </div> 
            <div>
            <label>Password <input type="text" name="password" /></label>
            </div>
            <div>
            <input type="submit" value="Submit" class="submit" />
            </div>
    </fieldset>
</form>
