@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
<h1>@ViewData["Title"]</h1>
<p> <b>Effective Date:</b> 3 February 2025</p>
<h2>Introduction</h2>
<p>Welcome to MakersBnB. We value your privacy and are committed to protecting your personal information. This policy outlines how we collect, use, and safeguard your data when you visit MakersBnB. </p>
<h2>Information We Collect</h2>
<p>
    <ul>
        <li><b>Personal Information:</b> Name, email, phone number (provided voluntarily).</li>
        <li><b>Non-Personal Information:</b> IP address, browser type, technical data.</li>
        <li><b>Cookies:</b> Used to enhance user experience and gather analytics.</li>
    </ul>
</p>

</body>


<p>Use this page to detail your site's privacy policy.</p>
